################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mathematica/obj/Debug
obj
packages/Iesi.Collections.4.0.0.4000/Iesi.Collections.4.0.0.4000.nupkg
packages/Iesi.Collections.4.0.0.4000/lib/net40/Iesi.Collections.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/FireBird.cfg.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/MSSQL.cfg.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/MySql.cfg.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/Oracle.cfg.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/PostgreSQL.cfg.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/SQLite.cfg.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/SybaseASE.cfg.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/SybaseSQLAnywhere.cfg.xml
packages/NHibernate.4.1.1.4000/NHibernate.4.1.1.4000.nupkg
packages/NHibernate.4.1.1.4000/NHibernate.license.txt
packages/NHibernate.4.1.1.4000/NHibernate.readme.html
packages/NHibernate.4.1.1.4000/NHibernate.releasenotes.txt
packages/NHibernate.4.1.1.4000/lib/net40/NHibernate.xml
packages/NHibernate.4.1.1.4000/nhibernate-configuration.xsd
packages/NHibernate.4.1.1.4000/nhibernate-mapping.xsd
packages/NUnit.3.6.1/CHANGES.txt
packages/NUnit.3.6.1/LICENSE.txt
packages/NUnit.3.6.1/NOTICES.txt
packages/NUnit.3.6.1/NUnit.3.6.1.nupkg
packages/NUnit.3.6.1/lib/MonoAndroid/nunit.framework.xml
packages/NUnit.3.6.1/lib/Xamarin.iOS10/nunit.framework.xml
packages/NUnit.3.6.1/lib/net20/nunit.framework.xml
packages/NUnit.3.6.1/lib/net35/nunit.framework.xml
packages/NUnit.3.6.1/lib/net40/nunit.framework.xml
packages/NUnit.3.6.1/lib/net45/nunit.framework.xml
packages/NUnit.3.6.1/lib/netstandard1.6/nunit.framework.xml
packages/NUnit.3.6.1/lib/portable-net45+win8+wp8+wpa81/nunit.framework.xml
Torqueo/bin/Debug/Configuration/hibernate.cfg.xml
Torqueo/bin/Debug/Iesi.Collections.xml
Torqueo/bin/Debug/NHibernate.xml
Torqueo/bin/Debug/Torqueo.dll.config
Torqueo/bin/Debug/nunit.framework.xml
/Torqueo.Tests/Torqueo.Tests/bin/Debug
/packages/FluentNHibernate.2.0.3.0
/Tatts.NextGen.SpinStats/bin/Debug
