################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mathematica/obj/Debug
obj
packages/Iesi.Collections.4.0.0.4000/Iesi.Collections.4.0.0.4000.nupkg
packages/Iesi.Collections.4.0.0.4000/lib/net40/Iesi.Collections.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/FireBird.cfg.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/MSSQL.cfg.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/MySql.cfg.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/Oracle.cfg.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/PostgreSQL.cfg.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/SQLite.cfg.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/SybaseASE.cfg.xml
packages/NHibernate.4.1.1.4000/ConfigurationTemplates/SybaseSQLAnywhere.cfg.xml
packages/NHibernate.4.1.1.4000/NHibernate.4.1.1.4000.nupkg
packages/NHibernate.4.1.1.4000/NHibernate.license.txt
packages/NHibernate.4.1.1.4000/NHibernate.readme.html
packages/NHibernate.4.1.1.4000/NHibernate.releasenotes.txt
packages/NHibernate.4.1.1.4000/lib/net40/NHibernate.xml
packages/NHibernate.4.1.1.4000/nhibernate-configuration.xsd
packages/NHibernate.4.1.1.4000/nhibernate-mapping.xsd
packages/NUnit.3.6.1/CHANGES.txt
packages/NUnit.3.6.1/LICENSE.txt
packages/NUnit.3.6.1/NOTICES.txt
packages/NUnit.3.6.1/NUnit.3.6.1.nupkg
packages/NUnit.3.6.1/lib/MonoAndroid/nunit.framework.xml
packages/NUnit.3.6.1/lib/Xamarin.iOS10/nunit.framework.xml
packages/NUnit.3.6.1/lib/net20/nunit.framework.xml
packages/NUnit.3.6.1/lib/net35/nunit.framework.xml
packages/NUnit.3.6.1/lib/net40/nunit.framework.xml
packages/NUnit.3.6.1/lib/net45/nunit.framework.xml
packages/NUnit.3.6.1/lib/netstandard1.6/nunit.framework.xml
packages/NUnit.3.6.1/lib/portable-net45+win8+wp8+wpa81/nunit.framework.xml
Torqueo/bin/Debug/Configuration/hibernate.cfg.xml
Torqueo/bin/Debug/Iesi.Collections.xml
Torqueo/bin/Debug/NHibernate.xml
Torqueo/bin/Debug/Torqueo.dll.config
Torqueo/bin/Debug/nunit.framework.xml
/Torqueo.Tests/Torqueo.Tests/bin/Debug
/packages/FluentNHibernate.2.0.3.0
/Tatts.NextGen.SpinStats/bin/Debug
/packages/log4net.2.0.8
/Tatts.NextGen.StatsData/bin/Debug
Tatts.NextGen.StatsData/bin/x86/Debug/hibernate.cfg.xml
packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nupkg
packages/Microsoft.ApplicationInsights.2.2.0/Microsoft.ApplicationInsights.2.2.0.nupkg
packages/Microsoft.ApplicationInsights.2.2.0/lib/net40/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.2.0/lib/net45/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.2.0/lib/net46/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.2.0/lib/netstandard1.5/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6.nupkg
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/Microsoft.ApplicationInsights.DependencyCollector.2.2.0.nupkg
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.transform
packages/jQuery.Validation.1.11.1/jQuery.Validation.1.11.1.nupkg
Torqueo/bin/x86/Debug/Torqueo.dll.config
Torqueo/bin/x86/Debug/hibernate.cfg.xml
Torqueo/bin/x86/Debug/nunit.framework.xml
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net40/Microsoft.AI.DependencyCollector.XML
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net45/Microsoft.AI.DependencyCollector.XML
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0.nupkg
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.Web.2.2.0/Microsoft.ApplicationInsights.Web.2.2.0.nupkg
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.min.js
Torqueo.Tests/bin/x86/Debug/Torqueo.Tests.dll.config
Torqueo.Tests/bin/x86/Debug/hibernate.cfg.xml
Torqueo.Tests/bin/x86/Debug/nunit.framework.xml
Torqueo/bin/x86/Debug/FluentNHibernate.xml
Torqueo/bin/x86/Debug/NHibernate.xml
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/web.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.install.xdt
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.js
Torqueo.Tests/bin/x86/Debug/FluentNHibernate.xml
Torqueo.Tests/bin/x86/Debug/NHibernate.xml
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/web.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/web.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/web.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net40/Microsoft.AI.Web.XML
packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/system.web.optimization.xml
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate-vsdoc.js
packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net45/Microsoft.AI.Web.XML
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/Microsoft.ApplicationInsights.WindowsServer.2.2.0.nupkg
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/Tools/install.ps1
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.uninstall.xdt
packages/jQuery.1.10.2/jQuery.1.10.2.nupkg
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net40/Microsoft.AI.WindowsServer.XML
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.xml
packages/jQuery.1.10.2/Tools/uninstall.ps1
Tatts.NextGen.SpinStats/bin/x86/Debug/log4net.xml
packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.xml
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3.nupkg
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3/build/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3/content/web.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3/content/web.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3/tools/install.ps1
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3/tools/uninstall.ps1
packages/Microsoft.Net.Compilers.1.3.2/Microsoft.Net.Compilers.1.3.2.nupkg
packages/Microsoft.Net.Compilers.1.3.2/ThirdPartyNotices.rtf
packages/Microsoft.Net.Compilers.1.3.2/build/Microsoft.Net.Compilers.props
packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.CSharp.Core.targets
packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.VisualBasic.Core.targets
packages/Microsoft.Net.Compilers.1.3.2/tools/VBCSCompiler.exe.config
packages/Microsoft.Net.Compilers.1.3.2/tools/csc.exe.config
packages/Microsoft.Net.Compilers.1.3.2/tools/csc.rsp
packages/Microsoft.Net.Compilers.1.3.2/tools/csi.rsp
packages/Microsoft.Net.Compilers.1.3.2/tools/vbc.exe.config
packages/Microsoft.Net.Compilers.1.3.2/tools/vbc.rsp
packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/Install.ps1
packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/Uninstall.ps1
packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/VS.psd1
packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/VS.psm1
packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Content/Scripts/jquery.validate.unobtrusive.js
packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Content/Scripts/jquery.validate.unobtrusive.min.js
packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Microsoft.jQuery.Unobtrusive.Validation.3.2.3.nupkg
packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
packages/Modernizr.2.6.2/Modernizr.2.6.2.nupkg
packages/Modernizr.2.6.2/Tools/common.ps1
packages/Modernizr.2.6.2/Tools/install.ps1
packages/Modernizr.2.6.2/Tools/uninstall.ps1
packages/NUnit.3.7.0/CHANGES.md
packages/NUnit.3.7.0/LICENSE.txt
packages/NUnit.3.7.0/NOTICES.txt
packages/NUnit.3.7.0/NUnit.3.7.0.nupkg
packages/NUnit.3.7.0/lib/net20/nunit.framework.xml
packages/NUnit.3.7.0/lib/net35/nunit.framework.xml
packages/NUnit.3.7.0/lib/net40/nunit.framework.xml
packages/NUnit.3.7.0/lib/net45/nunit.framework.xml
packages/NUnit.3.7.0/lib/netstandard1.3/nunit.framework.xml
packages/NUnit.3.7.0/lib/netstandard1.6/nunit.framework.xml
packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/tools/install.ps1
packages/Respond.1.2.0/Respond.1.2.0.nupkg
packages/Respond.1.2.0/content/Scripts/respond.js
packages/Respond.1.2.0/content/Scripts/respond.min.js
packages/WebGrease.1.5.2/WebGrease.1.5.2.nupkg
packages/bootstrap.3.0.0/bootstrap.3.0.0.nupkg
packages/bootstrap.3.0.0/content/Content/bootstrap.css
packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.eot
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.svg
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.ttf
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.woff
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
Cerberus/bin/x64/Debug/log4net.xml
Cerberus/bin/x86/Debug/Cerberus.exe.config
Cerberus/bin/x86/Debug/Cerberus.vshost.exe.config
Cerberus/bin/Debug/NHibernate.xml
Cerberus/bin/Debug/log4net.xml
Cerberus/bin/x64/Debug/Cerberus.exe.config
Cerberus/bin/x64/Debug/Cerberus.vshost.exe.config
Cerberus/bin/x64/Debug/Iesi.Collections.xml
NextGenStatistics/NextGenStatistics.dbmdl
NextGenStatistics/bin/Debug/iBet.dacpac
Tatts.NextGen.SpinStats/bin/x86/Debug/FluentNHibernate.xml
Tatts.NextGen.SpinStats/bin/x86/Debug/Iesi.Collections.xml
Tatts.NextGen.SpinStats/bin/x86/Debug/NHibernate.xml
Tatts.NextGen.SpinStats/bin/x86/Debug/Tatts.NextGen.SpinStats.exe.config
packages/jQuery.1.10.2/Tools/install.ps1
Cerberus/bin/Debug/Cerberus.exe.config
Cerberus/bin/Debug/Cerberus.vshost.exe.config
Cerberus/bin/Debug/Iesi.Collections.xml
Tatts.NextGen.SpinStats/bin/x86/Debug/Tatts.NextGen.SpinStats.vshost.exe.config
Tatts.NextGen.SpinStats/bin/x86/Debug/hibernate.cfg.xml
Tatts.NextGen.StatsData/bin/x86/Debug/FluentNHibernate.xml
Tatts.NextGen.StatsData/bin/x86/Debug/Iesi.Collections.xml
Tatts.NextGen.StatsData/bin/x86/Debug/NHibernate.xml
Tatts.NextGen.StatsData/bin/x86/Debug/Tatts.NextGen.StatsData.dll.config
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net45/Microsoft.AI.WindowsServer.XML
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.install.xdt
packages/jQuery.1.10.2/Tools/common.ps1
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0.nupkg
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.XML
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.xml
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.XML
packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.install.xdt
packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.Mvc.5.2.3/Microsoft.AspNet.Mvc.5.2.3.nupkg
packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.xml
packages/Microsoft.AspNet.Razor.3.2.3/Microsoft.AspNet.Razor.3.2.3.nupkg
packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.xml
packages/Microsoft.AspNet.Web.Optimization.1.1.3/Microsoft.AspNet.Web.Optimization.1.1.3.nupkg
packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.install.xdt
packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.WebPages.3.2.3/Microsoft.AspNet.WebPages.3.2.3.nupkg
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.xml
.vs/config/applicationhost.config
/Cerberus.Console/bin/Debug
/Cerberus.Library/bin/Debug
/FluentCerberus.Tests/bin/Debug
/UpgradeLog.htm
/Cerberus/bin/Debug
/Cerberus.Admin/bin/Debug
/packages
