<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="NextGen" connectionString="Data Source=TA030633\SQL2K14DEV1;Initial Catalog=NextGenStatistics;User ID=NextGenDBUser;Password=NextGenDBUser!@;MultipleActiveResultSets=True;Max Pool Size=10000;Min Pool Size=300;Connection Timeout=5" providerName="System.Data.SqlClient" />
    <add name="Forseti" connectionString="Data Source=TA030633\SQL2K14DEV1;Initial Catalog=Forseti;User ID=tattsgroup\svcsandpithost;Password=Password01;MultipleActiveResultSets=True;Max Pool Size=10000;Min Pool Size=300;Connection Timeout=5" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LogLocation" value="D:\TestLogs" />
  </appSettings>
  <log4net>
    <appender name="STATS" type="log4net.Appender.RollingFileAppender">
      <file value="C:\NextGen.Logs\Stats\SpinStats.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="Statistics">
      <level value="ALL" />
      <appender-ref ref="STATS" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>