<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cerberus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
 <appSettings>
  <add key="TxnLogPath" value="D:\EisaDir\data\TxnLogBackup\ProdExamples" />
  <add key="WorkingDir" value="D:\CerberusDir\Working" />
  <add key="DoneDir" value="D:\CerberusDir\Working\Done" />
  <add key="LogPattern" value="EisLog*.DAT" />
  <add key="MerchantIdRegex" value="(?&lt;=MercantId:)[0-9]+" />
  <add key="TerminalIdRegex" value="(?&lt;=TerminalId:)[0-9A-Z]+" />
  <add key="PinPadIdRegex" value="(?&lt;=PinpadID:)[0-9]+" />
  <add key="SWVersionIdRegex" value="(?&lt;=SWVersion:)[0-9]+" />
  <add key="StationNoRegex" value="(?&lt;=StationNo:)[0-9]+" />
  <add key="OutletIdRegex" value="(?&lt;=OutletId:)[0-9]+" />
  <add key="RecipientList" value="richard.wisbey@tattsgroup.com" />
  <add key="MailHost" value="outboundsmtp" />
  <add key="FromAddress" value="Cerberus@tattsgroup.com" />
  <add key="GetYesterdaysTxnLog" value="false" />
</appSettings>
  <connectionStrings>
    <add name="Cerberus" connectionString="Data Source=ta030633\SQL2K14DEV1;Initial Catalog=Cerberus;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="Eisa" connectionString="Data Source=ta030633\SQL2K14DEV1;Initial Catalog=Eisa;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Cerberus.Properties.Settings>
      <setting name="TxnLogPath" serializeAs="String">
        <value>D:\EisaDir\data\TxnLogBackup\ProdExamples</value>
      </setting>
      <setting name="LogPattern" serializeAs="String">
        <value>EisLog*.DAT</value>
      </setting>
    </Cerberus.Properties.Settings>
  </applicationSettings>
</configuration>